<div class="row" ng-controller="MainCtrl">
    <div class="col-xs-8 col-sm-9">
        <esri-map id="map" webmap-id="a06407c84eb3414588ac40a5eec3716a" center="map.center" zoom="map.zoom">
            <div esri-legend target-id="legend"></div>
        </esri-map>
        <div class="well">
         More than 22 languages with Hindi being the mother tongue.
        </div>
    </div>
    <div class="col-xs-4 col-sm-3" style="overflow: auto; max-height: 400px;">
        <div id="legend"></div>
    </div>
</div>